@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto+Mono');

body {
  margin: 0;
  padding: 0;
  color: #FFF;
  background: #272727;
}
h1, h2 {
  font-weight: 400;
}
h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 130px;
  margin: 0;
  color: #5FC949;
}
h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 95px;
  margin: 0;
  margin-top: -30px;
}
button {
  border: none;
  border-bottom: 1px solid #b27701;
  margin-top: 10px;
  width: 200px;
  padding: 10px 0;
  background: #000;
  color: #FFF;
  font-weight: 700;
  font-size: 20px;
  outline: none;
}
button:hover {
  border-bottom: 1px solid #f24141;
}
img {
  height: 400px;
}
i {
  font-size: 40px;
  margin: 40px 0;
  color: yellow;
}
.masterContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  margin-top: 90px;
}
.clockContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -40px;
}

@media (max-width: 800px) {
  .twigs {
    display: none;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
  font-size: 60px;
  margin-top: 10px;
  }
  i {
    margin: 20px 0;
  }
}
